<h1>Products</h1>

<% @products.each do |product| %>
  <div>

    <!-- 如果有图片就显示 -->
    <% if product.image.attached? %>
      <%= image_tag product.image, width: 150 %>
    <% end %>
    <!-- product name -->
    <h3><%= link_to product.name, product_path(product) %></h3>

    <!-- price -->
    <p>$<%= product.price %></p>
  </div>
<% end %>

<!-- pagination -->
<%= paginate @products %>